{% extends 'header.html' %}
{% block title %}
  Administración
{% endblock %}
{% block corpo %}
  <div class="container text-center">
    <h1 class="my-5">Que queres facer?</h1>
    <a href="{% url 'engadir' %}" class="btn p-3 px-5 mx-3 btn-success rounded-pill">Engadir</a>
    <a href="{% url 'modificar' %}" class="btn p-3 px-5 mx-3 btn-primary rounded-pill">Modificar</a>
    <a href="{% url 'eliminar' %}" class="btn p-3 px-5 mx-3 btn-danger rounded-pill">Eliminar</a>
  </div>

  <div class="container mt-5 text-center">
    <a href="{% url 'engadirCompetidor' %}" class="btn rounded-pill btn-warning">Competidores</a>
    <a href="{% url 'engadirCombate' %}" class="btn rounded-pill btn-warning">Combates</a>
    <a href="{% url 'engadirEvento' %}" class="btn rounded-pill btn-warning">Eventos</a>
  </div>
  <h2>Engadir Competidor</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Engadir Competidor</button>
  </form>
{% endblock %}
