{% extends 'header.html' %}
{% block title %}
  Administración
{% endblock %}
{% block corpo %}
  <div class="container mt-5 text-center">
    <a href="{% url 'engadir' %}" class="btn p-3 px-5 mx-3 btn-success rounded-pill">Engadir</a>
    <a href="{% url 'modificar' %}" class="btn p-3 px-5 mx-3 btn-primary rounded-pill">Modificar</a>
    <a href="{% url 'eliminar' %}" class="btn p-3 px-5 mx-3 btn-danger rounded-pill">Eliminar</a>
  </div>
  <div class="container mt-5 text-center">
    <a href="?lista=competidores" class="btn rounded-pill btn-warning">Competidores</a>
    <a href="?lista=combates" class="btn rounded-pill btn-warning">Combates</a>
    <a href="?lista=eventos" class="btn rounded-pill btn-warning">Eventos</a>
  </div>
  <hr />
  <div class="container mt-5">
    {% if tipo == 'competidores' %}
      <h2 class="text-center mb-4">Competidores</h2>
      <table class="table table-striped table-hover shadow-sm">
        <thead class="table-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for competidor in lista.0 %}
            <tr>
              <td>{{ competidor }}</td>
              <td>
                <a href="{% url 'modificar_competidor' competidor.id_competidor %}" class="btn btn-primary btn-sm">Modificar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% elif tipo == 'combates' %}
      <h2 class="text-center mb-4">Combates</h2>
      <table class="table table-striped table-hover shadow-sm">
        <thead class="table-dark">
          <tr>
            <th scope="col">Combate</th>
            <th scope="col">Fecha</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for combate in lista.0 %}
            <tr>
              <td>{{ combate }}</td>
              <td>{{ combate.data_combate }}</td>
              <td>
                <a href="{% url 'modificar_combate' combate.id_combate %}" class="btn btn-primary btn-sm">Modificar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% elif tipo == 'eventos' %}
      <h2 class="text-center mb-4">Eventos</h2>
      <table class="table table-striped table-hover shadow-sm">
        <thead class="table-dark">
          <tr>
            <th scope="col">Evento</th>
            <th scope="col">Fecha</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for evento in lista.0 %}
            <tr>
              <td>{{ evento }}</td>
              <td>{{ evento.data_evento }}</td>
              <td>
                <a href="{% url 'modificar_evento' evento.id_evento %}" class="btn btn-primary btn-sm">Modificar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}
