{% extends 'header.html' %}
{% block title %}
  Administración
{% endblock %}
{% block corpo %}
  <div class="container text-center">
    <h1 class="my-5">Que queres facer?</h1>
    <a href="{% url 'engadir' %}" class="btn p-3 px-5 mx-3 btn-success rounded-pill">Engadir</a>
    <a href="{% url 'modificar' %}" class="btn p-3 px-5 mx-3 btn-primary rounded-pill">Modificar</a>
    <a href="{% url 'eliminar' %}" class="btn p-3 px-5 mx-3 btn-danger rounded-pill">Eliminar</a>
  </div>

  <h1>Modificar Evento</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>
{% endblock %}
