{% extends 'header.html' %}
{% block title %}
  Combate
{% endblock %}
{% block corpo %}
  <div class="container mt-5">
    {% if user.is_staff %}
      <div class="mt-3">
        <a href="{% url 'modificar_combate' combate.id_combate %}" class="btn btn-primary my-3">Modificar</a>
        <form action="{% url 'eliminarCombate' combate.id_combate %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger" onclick="return confirm('Seguro que queres eliminar a este combate?');">Eliminar</button>
        </form>
      </div>
    {% endif %}
    <div class="card {% if combate.likes.count >= 10 %}combate-destacado{% endif %}">
      <div class="card-header text-center">
        <h2>Detalles do Combate</h2>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Esquina Azul</th>
              <td>
                <a href="{% url 'competidoresPage' %}{{ esquinaAzul.id_competidor }}" class="text-primary text-decoration-none">{{ esquinaAzul }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">Esquina Vermella</th>
              <td>
                <a href="{% url 'competidoresPage' %}{{ esquinaVermella.id_competidor }}" class="text-danger text-decoration-none">{{ esquinaVermella }}</a>
              </td>
            </tr>
            <tr>
              <th scope="row">Árbitro da contienda</th>
              <td>
                <strong>{{ combate.arbitro }}</strong>
              </td>
            </tr>
            <tr>
              <th scope="row">Peso</th>
              <td>
                <strong>{{ combate.peso_combate }}</strong>
              </td>
            </tr>
            <tr>
              <th scope="row">Categoría</th>
              <td>
                <strong>{{ combate.categoria_combate }}</strong>
              </td>
            </tr>
            <tr>
              <th scope="row">Resultado</th>
              <td>
                <strong>{{ combate.resultado }}</strong>
              </td>
            </tr>
            <tr>
              <th scope="row">Data do Combate</th>
              <td class="text-muted">{{ combate.data_combate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container text-end">
      {% if user.is_authenticated %}
        <form class="mt-3" action="{% url 'alternar_like' combate.id_combate %}" method="post">
          {% csrf_token %}
          {% if user in combate.likes.all %}
            <button type="submit" class="btn btn-danger"><i class="fas fa-heart-broken"></i></button>
          {% else %}
            <button type="submit" class="btn btn-outline-danger"><i class="fas fa-heart"></i></button>
          {% endif %}
          {{ combate.likes.count }}
        </form>
      {% else %}
        <button type="button" class="btn btn-outline-secondary mt-3" disabled><i class="fas fa-heart"></i> {{ combate.likes.count }}</button>
      {% endif %}
    </div>
  </div>
{% endblock %}
