{% extends 'header.html' %}
{% block title %}
  Competidores
{% endblock %}
{% block corpo %}
  <div class="container mt-5">
    <input class="me-2 form-control" id="buscadorInput" type="search" placeholder="Buscar por nome" aria-label="Search" />
  </div>
  <hr />
  <div class="container">
    <ul class="list-group" id="listaCompetidores">
      {% for competidor in listaCompetidores %}
        <li class="list-group-item list-group-item-action d-flex justify-content-between">
          <a href="{% url 'competidoresPage' %}{{ competidor.id_competidor }}" class="nav-link text-dark">
            {% if competidor.foto_competidor %}
              <img src="/media/{{ competidor.foto_competidor }}" alt="{{ competidor.nome_competidor }} {{ competidor.apelidos_competidor }}" class="mx-2 img-competidor-min" />
            {% else %}
              <img src="/media/competidores/defaultCompetidor.png" alt="{{ competidor.nome_competidor }} {{ competidor.apelidos_competidor }}" style="height: 50px;" class="mx-2" />
            {% endif %}
            {{ competidor.nome_competidor }} {{ competidor.apelidos_competidor }}
          </a>
          {% if user.is_authenticated %}
            <form action="{% url 'alternar_seguir' competidor.id_competidor %}" method="post">
              {% csrf_token %}
              {% if competidor in user.favoritos.all.values %}
                <button type="submit" class="btn btn-danger">Dejar de Seguir</button>
              {% else %}
                <button type="submit" class="btn btn-outline-primary">Seguir</button>
              {% endif %}
            </form>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <script defer>
    let buscador = document.getElementById('buscadorInput')
    buscador.addEventListener('input', (ev) => {
      valorBuscador = buscador.value.toUpperCase()
      let listaC = document.getElementById('listaCompetidores')
      for (const elementoli of listaC.children) {
        if (elementoli.innerText.toUpperCase().includes(valorBuscador)) {
          console.log(elementoli.innerText)
          elementoli.classList.remove('oculto')
        } else {
          elementoli.classList.add('oculto')
        }
      }
    })
  </script>
{% endblock %}
