<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css" />

    {% block links %}

    {% endblock %}
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md bg-dark text-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand text-light" href="{% url 'indexPage' %}"><h1>Inicio</h1></a>
        <button class="navbar-toggler navbar-light bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-lg-0">
            <li class="navbar-item">
              <a class="nav-link text-light" href="{% url 'competidoresPage' %}"><h6>Competidores</h6></a>
            </li>
            <li class="navbar-item">
              <a class="nav-link text-light" href="{% url 'eventosPage' %}"><h6>Eventos</h6></a>
            </li>
          </ul>
          {% if request.user.is_staff %}
            <a class="nav-link" href="{% url 'administracion' %}">Admin<span class="mx-3 d-none d-md-inline">|</span></a>
          {% endif %}
          {% if user.is_authenticated %}
            <div class="d-flex align-items-center">
              <span class="text-light me-3">Ola, {{ request.user.username }}!</span>
              <a class="navbar-item btn btn-outline-light" href="{% url 'logout' %}">Pechar Sesión</a>
            </div>
          {% else %}
            <a class="navbar-item btn btn-outline-light" href="{% url 'login' %}">Iniciar Sesión</a>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block corpo %}

    {% endblock %}
  </body>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</html>
