{% extends 'header.html' %}
{% block links %}
  {% load static %}

  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
{% endblock %}
{% block title %}
  BoxGal
{% endblock %}

{% block corpo %}
  <div class="container-fluid p-0">
    <div id="carouselBoxeo" class="carousel slide text-center d-none d-sm-block" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselBoxeo" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselBoxeo" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselBoxeo" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/media/decoracion/car1.jpg" class="d-block img-fluid carousel-img" alt="1" />
        </div>
        <div class="carousel-item">
          <img src="/media/decoracion/car2.jpeg" class="d-block img-fluid carousel-img" alt="2" />
        </div>
        <div class="carousel-item">
          <img src="/media/decoracion/car3.jpg" class="d-block img-fluid carousel-img" alt="3" />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselBoxeo" data-bs-slide="prev"></button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselBoxeo" data-bs-slide="next"></button>
    </div>
  </div>
  <div class="container mt-2">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-3 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <h3>
              {% if user.is_authenticated %}
                Competidores Seguidos
              {% else %}
                Competidores Populares
              {% endif %}
            </h3>
          </div>
          <ul class="list-group list-group-flush">
            {% for competidor in page_obj %}
              <li class="list-group-item list-group-item-action">
                <a href="{% url 'competidoresPage' %}{{ competidor.id_competidor }}" class="nav-link text-dark">
                  {{ fav.nome_competidor }}
                  <img src="{% if competidor.foto_competidor %}
                      {{ competidor.foto_competidor.url }}
                    {% else %}
                      
                      
                      /media/competidores/defaultCompetidor.png


                    {% endif %}"
                    class="img-competidor-min"
                    alt="{{ competidor.nome_competidor }}" />
                  {{ competidor.nome_competidor }} {{ competidor.apelidos_competidor }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <nav aria-label="Page navigation" class="my-3">
            <ul class="pagination justify-content-center mb-0">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
              {% endif %}
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>

      {% for evento in listaEventos %}
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card h-100">
            {% if evento.foto_evento %}
              <img src="/media/{{ evento.foto_evento }}" class="card-img-top mt-3" alt="{{ evento.nome_evento }}" />
            {% else %}
              <img src="/media/eventos/defaultEvento.jpg" class="card-img-top mt-3" alt="{{ evento.nome_evento }}" />
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ evento.nome_evento }}</h5>
              <div class="card-text">
                <p>{{ evento.lugar_evento }}</p>
                <p>{{ evento.data_evento }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
