{% extends 'header.html' %}
{% block links %}
  {% load static %}

  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
{% endblock %}
{% block title %}
  BoxGal
{% endblock %}

{% block corpo %}
  <div class="container">
    <div id="carouselBoxeo" class="carousel slide m-auto my-5 w-50 text-center" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselBoxeo" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselBoxeo" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselBoxeo" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/media/decoracion/car1.jpg" class="d-block w-100" alt="1" />
        </div>
        <div class="carousel-item">
          <img src="/media/decoracion/car2.jpeg" class="d-block w-100" alt="2" />
        </div>
        <div class="carousel-item">
          <img src="/media/decoracion/car3.jpg" class="d-block w-100" alt="3" />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselBoxeo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselBoxeo" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="card-group">
    <div class="row">
      <div class="card col-md-5 col-lg-3" style="width: 18rem;">
        <div class="card-header">Seguidos</div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action">
            <a href="" class="nav-link text-dark">Competidor 1</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <a href="" class="nav-link text-dark">Lorem ipsum dolor sit amet.</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <a href="" class="nav-link text-dark">Competidor 3</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <a href="" class="nav-link text-dark">Competidor 4</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <a href="" class="nav-link text-dark">Competidor 5</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <a href="" class="nav-link text-dark">Competidor 6</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <a href="" class="nav-link text-dark">Competidor 7</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <a href="" class="nav-link text-dark">Competidor 8</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <a href="" class="nav-link text-dark">Competidor 9</a>
          </li>
        </ul>
      </div>
      {% for evento in listaEventos %}
        <div class="card col-lg-3">
          {% if evento.foto_evento %}
            <img src="/media/{{ evento.foto_evento }}" class="card-img-top mt-3" alt="{{ evento.nome_evento }}" />
          {% else %}
            <img src="/media/eventos/defaultEvento.jpg" class="card-img-top mt-3" alt="{{ evento.nome_evento }}" />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ evento.nome_evento }}</h5>

            <div class="card-text">
              <p>{{ evento.lugar_evento }}</p>
              <p>{{ evento.data_evento }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
