{% extends 'header.html' %}

{% block title %} BoxGal {% endblock %}

{% block corpo %}
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide m-5" data-bs-ride="carousel"">
            <div class=" carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/1.jpg" class="d-block w-100" alt="1">
            <div class="carousel-caption d-none d-md-block">
                <h1>Primero</h1>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/2.jpg" class="d-block w-100" alt="2">
            <div class="carousel-caption d-none d-md-block">
                <h1>Segundo</h1>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/3.jpg" class="d-block w-100" alt="3">
            <div class="carousel-caption d-none d-md-block">
                <h1>Tercero</h1>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>

<div class="card-group">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Seguidos
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action"><a href="" class="nav-link text-dark">Competidor
                    1</a></li>
            <li class="list-group-item list-group-item-action"><a href="" class="nav-link text-dark">Lorem ipsum
                    dolor sit amet.</a></li>
            <li class="list-group-item list-group-item-action"><a href="" class="nav-link text-dark">Competidor
                    3</a></li>
            <li class="list-group-item list-group-item-action"><a href="" class="nav-link text-dark">Competidor
                    4</a></li>
            <li class="list-group-item list-group-item-action"><a href="" class="nav-link text-dark">Competidor
                    5</a></li>
            <li class="list-group-item list-group-item-action"><a href="" class="nav-link text-dark">Competidor
                    6</a></li>
            <li class="list-group-item list-group-item-action"><a href="" class="nav-link text-dark">Competidor
                    7</a></li>
            <li class="list-group-item list-group-item-action"><a href="" class="nav-link text-dark">Competidor
                    8</a></li>
            <li class="list-group-item list-group-item-action"><a href="" class="nav-link text-dark">Competidor
                    9</a></li>
        </ul>
    </div>
    <div class="card">
        <img src="/cultura_Actividades_ciclomonologos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Evento 1</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A ab nulla nobis eveniet
                enim quos tempore fuga impedit.</p>
        </div>
    </div>
    <div class="card">
        <img src="/cultura_Actividades_noitefolk.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Evento 2</h5>
            <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div class="card">
        <img src="/cultura_Actividades_veran_cultural.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Evento 3</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>
{% endblock %}