{% extends 'header.html' %}
{% block title %}
  Iniciar Sesion
{% endblock %}
{% block corpo %}
  <form method="POST" action="{% url 'login' %}" class="form-group text-center container w-50 mt-5">
    {% csrf_token %}
    <input type="text" class="form-control my-3" name="username" placeholder="Nome de usuario" required />
    <input type="password" class="form-control my-3" name="password" placeholder="Contrasinal" required />
    <button type="submit" class="form-control my-3 btn btn-primary w-50">Iniciar Sesión</button>
  </form>
  <p class="mt-5 text-md-end text-center m-5">
    Non estás rexistrado? Pulsa aquí:
    <a href="{% url 'rexistroUsuario' %}" class="btn btn-danger">Rexistrarse</a>
  </p>
  {% if messages %}
    <div class="alert alert-danger">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
