{% extends 'header.html' %}
{% block title %}
  Competidores
{% endblock %}
{% block corpo %}
  <div class="container text-center">
    <div class="row p-5">
      <div class="col-12 col-md-6">
        <div class="card">
          {% if competidor.foto_competidor %}
            <img src="{{ competidor.foto_competidor.url }}" alt="{{ competidor.nome_competidor }}" class="card-img-top" />
          {% else %}
            <img src="/media/competidores/defaultCompetidor.png" alt="{{ competidor.nome_competidor }}" class="card-img-top" />
          {% endif %}
          <div class="card-body bg-success text-light">
            <h5 class="card-title">{{ competidor.nome_competidor }} {{ competidor.apelidos_competidor }}</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row my-5">
          <!-- Stats -->
          <div id="animations-example-4">
            <table class="charts-css column show-labels hide-data data-spacing-5 show-primary-axis">
              <tbody>
                <tr>
                  <th scope="row">Vitorias</th> <td style="--size: {{ porcentaxeVitorias }}; background:green;"></td>
                </tr> <tr>
                  <th scope="row">Derrotas</th> <td style="--size: {{ porcentaxeDerrotas }}; background:red;"></td>
                </tr> <tr>
                  <th scope="row">Empates</th> <td style="--size: {{ porcentaxeEmpates }}; background:blue;"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <hr />
        <div class="row">
          <h3>Total Combates:</h3>
          <h2>{{ totalCombates }}</h2>
          <h3>Vitorias lado azul:</h3>
          <h2>{{ numeroCombates_azul }}</h2>
          <h3>Vitorias lado vermello:</h3>
          <h2>{{ numeroCombates_vermello }}</h2>
        </div>
      </div>
    </div>
    <div class="row w-50 mx-auto">
      <h1 class="text-center">Combates</h1>
      <ul class="list-group">
        {% for combate in listaCombates %}
          {% if combate.boxeador_azul == competidor or combate.boxeador_vermello == competidor %}
            <li class="list-group-item text-center">
              <a href="{% url 'combateEspecifico' combate.id_combate %}">{{ combate }}</a>
            </li>
          {% else %}
            <li class="list-group-item text-center">Non ten combates rexistrados.</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
